﻿<p-fieldset legend="Filters" [toggleable]="true" [collapsed]="true">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton class="buton" type="button" label="Search" (click)="Search()"></button>
            <input type="text" pInputText placeholder="  Game name" [(ngModel)]="name">
            <button pButton class="buton" type="button" label="Reset" (click)="Reset()"></button>
        </div>
    </div>
</p-fieldset>
<div class="spatiu">

</div>

<p-dataTable [value]="pageData.Data" [rows]="8" [paginator]="true" [pageLinks]="8" [totalRecords]="pageData.TotalJocuri" [rowsPerPageOptions]="[8,15,20]"
             expandableRows="true" (onLazyLoad)="paginate($event)" [lazy]="true">
    <p-header style="font-weight:bold">List of Games</p-header>
    <p-footer>There are {{pageData.TotalJocuri}} games</p-footer>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="popularity" header="Popularity" [sortable]="true"></p-column>
    <p-column field="slug" header="Slug" [sortable]="true"></p-column>
    <p-column field="vendor" header="Vendor" [sortable]="true"></p-column>

    <p-column [style]="{'width':'100px', 'text-align': 'center' }" header="View game">
        <ng-template let-game="rowData" pTemplate="body">
            <button type="button" (click)="selectGame($event,game,op3)" pButton pTooltip="Game details" tooltipPosition="top" icon="fa fa-search"></button>
        </ng-template>
    </p-column>
</p-dataTable>

    <p-overlayPanel #op3 [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'" [style]="{'width': '600px'}">
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-0 ui-sm-6">Categories: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{selectedgame.categories}}</b></div>

                <div class="ui-g-0 ui-sm-6">Description: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{selectedgame.description}}</b></div>

                <div class="ui-g-0 ui-sm-6">NewGame: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{selectedgame.newGame}}</b></div>

                <div class="ui-g-0 ui-sm-6">Popularity: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{selectedgame.popularity}}</b></div>
            </div>
        </div>
    </p-overlayPanel>

<style>
    .buton {
        background-color: orange;
    }
    .spatiu {
        margin-bottom:50px;

</style>

