﻿<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

